.ourMenu{
	display: flex;
	margin-bottom: 1%;
	flex-wrap: wrap;
}
.ourMenu > div{
	margin:1.5% 0;
	flex-basis: 32%;
	height: 29.3vw;
	background-size: 100% 100%;
}
.shape{
	height: 100%;
	background: rgba(255, 153, 0, .8);
	display: flex;
	flex-direction: column;
	transform: scale(0);
	transition: .5s linear;
	align-items: center;
	justify-content: center;
}
.ourMenu > div:hover .shape{
	transform: scale(1);
}
.ourMenu > div:nth-of-type(1){
	background: url('https://firebasestorage.googleapis.com/v0/b/menu-app-d88b1.appspot.com/o/sliderImages%2Fbaner3.jpg?alt=media&token=2fbe95dc-36fe-453a-825f-14ee8e78d4a3');
}
.ourMenu > div:nth-of-type(2){

	margin:  1.5%;
	
	background: url('https://firebasestorage.googleapis.com/v0/b/menu-app-d88b1.appspot.com/o/sliderImages%2Fbaner2.jpg?alt=media&token=bb832b1e-7cf0-4c1d-bb97-58fabd7ce3a6');
}
.ourMenu > div:nth-of-type(3){
	background: url('https://firebasestorage.googleapis.com/v0/b/menu-app-d88b1.appspot.com/o/sliderImages%2Fbaner2.jpg?alt=media&token=bb832b1e-7cf0-4c1d-bb97-58fabd7ce3a6');
}
.ourMenu > div:nth-of-type(4){
	background: url('https://firebasestorage.googleapis.com/v0/b/menu-app-d88b1.appspot.com/o/sliderImages%2Fbaner2.jpg?alt=media&token=bb832b1e-7cf0-4c1d-bb97-58fabd7ce3a6');
}
.ourMenu > div:nth-of-type(5){
	margin:  1.5%;
	background: url('https://firebasestorage.googleapis.com/v0/b/menu-app-d88b1.appspot.com/o/sliderImages%2Fbaner2.jpg?alt=media&token=bb832b1e-7cf0-4c1d-bb97-58fabd7ce3a6');
}
.ourMenu > div:nth-of-type(6){
	background: url('https://firebasestorage.googleapis.com/v0/b/menu-app-d88b1.appspot.com/o/sliderImages%2Fbaner2.jpg?alt=media&token=bb832b1e-7cf0-4c1d-bb97-58fabd7ce3a6');
}
.ourMenu p{
	margin: 0;
}
.shape>p:first-of-type {
	font-size: 30px;
	color: #fff;
}
.shape>p:last-of-type {
	font-size: 24px;
	color: #fff;
	font-weight: 100;
	text-transform: uppercase;
}
.shape>p:empty {
	border-bottom: 1px solid #fff;
	width: 60%;
	margin: 30px 0;
}