.tableInfo {
    display:flex;
    padding:5px 0;
    justify-content: center;
}
.tableInfo>div{
    flex-basis: 20%;
    text-align: left;
}

.tableInfo>div:first-of-type{
    color:#ff9900;
    text-transform: uppercase;
    font-style: italic;
}
.tableInfo li p{
    text-align: left;
    color:#707070;
   flex: 5;
   margin: 0;
}
.gago{
display: inline-block;
margin: 10px 25px;

