.addNewDish{
	width: 40%;
	margin:30px auto;
	border:1px solid black;
	text-align: center;
}
.addNewDish input,
.addNewDish textarea,
.addNewDish select,
.addNewDish button{
	width: 90%;
	border:1px solid black;
	margin: 10px 0;
	padding:5px 10px;
	outline:none;
}