.slider{
	background: url(../images/baner1.jpg);
	background-attachment: fixed;
	height: 600px;
	position: relative;
}
.indicators {
	position: absolute;
	width: 100%;
	bottom:20px;
	display: flex;
	justify-content: center;
}
.indicators span {
	border:1px solid #FF9900;
	border-radius: 50%;
	flex-basis: 12px;
	height: 12px;
	display: block;
	margin: 0 5px;
	cursor: pointer;
}
.indicators span.active {
	background:  #FF9900;
	
}