.dishes{
	display: flex;
	flex-wrap:wrap;
}
.dishes>div{
	flex-basis: 31%;
	padding: 0 1%;
}
.dishBlock {
	height: 27vw;
	background-repeat:no-repeat;
	background-size: cover;
	cursor: pointer;
}
.dishBlock:hover .shape{
	transform: scale(1);
	transition: .5s;
}

.dishList h5{
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	margin: 10px 0;
}
.dishList h5 span {
	font-size: 20px; 
	margin-left: 5px;
	cursor: pointer;
}
.dishList h5 p{
	cursor: pointer;
	position: absolute;
	right: 10px;
	color:#FF9900;
	top: -15px;
}


.dishList p{
	font-size: 14px;
	color: #707070;
	text-align: center;
}

p.price {
	font-weight: 600;
	color: #FF9900;
    font-size: 18px;
}
.source{
	display: flex;
	width:100%;
	justify-content: space-between;

}
.dishDesc {
	font-size: 14px;
	color: #707070;
	text-align: center;
}
.dishBl .star-container {
	text-align: center;
}
.dishBl > div{
	background-size: cover;
}
.pagination{
	display: flex;
	justify-content: center;
	margin :20px 0;
	
}
.pagination div{
	cursor: pointer;
	margin:0 5px;
}