.pop-Up{
    position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 10);
  opacity: 0.5;
}
.pop-Up-inner{
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    margin: auto;
    background: white;
} 




/* .rating-container{
    height: 40px;
    width: 100%;
    position: absolute;
    z-index: 0;
} */
.rating-container{
    height: 40px;
    width: 200px;
    position: absolute;
    z-index: 0;
}
.rating{
    position: absolute;
    height: 40px;
    max-width: 200px;
    background-color: yellow;
    z-index: -1;
}

.star{
    height: 40px;
}

.add-to-cart-button{
    height: 50px;
    width: 80px;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.add-to-favorites{
    height: 50px;
    width: 80px;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.add-to-cart-img{
    height: 100%;
    width: 100%;
    position: relative;
}
.doneness-drop-down {
    height: 30px;
    width: 160px;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.ingredients-drop-down{
   
    height: 30px;
    width: 160px;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.count-button{
    height: 30px;
    width: 30px;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.select-checkbox{
    height: 30px;
    width: 30px;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.dish-image{
    height: 30%;
    width: 30%;
}