footer{
	background: url('https://firebasestorage.googleapis.com/v0/b/menu-app-d88b1.appspot.com/o/sliderImages%2Fbaner2.jpg?alt=media&token=bb832b1e-7cf0-4c1d-bb97-58fabd7ce3a6');
	background-attachment: fixed;
	
	background-repeat: no-repeat;

	background-size: cover;
}

.foot>div:first-of-type{
	display: flex;
	align-items: center;
	flex: 1.5;
}
.footerShape{
	height: 100%;
	background: rgba(0,0,0,.8);
	padding: 6% 0 3%;
}

.foot{
	display: flex;
}

.foot div{
	flex:1;
}

.foot a {
	color:#FFF;
}
.foot a span {
	margin-right: 10px;	
}

.foot span {
	color:#FF9900;
	flex-basis: 25px;
}
.foot h4 {
	color:#FF9900;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
}
.foot li {
	color:#FFF;
	font-size: 18px;
	display: flex;
	margin-bottom: 20px;
}
.foot ul {
	padding: 0;
}