.loginPage{
    width: 100%;;
    height: 100vh;
    background-repeat: no-repeat;
    background: url('https://firebasestorage.googleapis.com/v0/b/menu-app-d88b1.appspot.com/o/sliderImages%2Fbaner2.jpg?alt=media&token=bb832b1e-7cf0-4c1d-bb97-58fabd7ce3a6')center center/cover;
}
.loginPage > div{
    width: 100%;;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 38vw;
    background: rgb(0,0,0,.7);
    padding:2% 4% 4%;
}
.loginForm h4 {
    font-size: 24px;
    color:#fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin: 15px 0;
 }
 .loginForm h4 span{
    color:#ff9900;
 }

 .loginForm input{
    width:100%;
    outline:none;
    padding:9px;
    box-sizing: border-box;
    font-size: 20px;
    border:0.5px solid #ff9900;
    margin: 5px 0 8px;
}
.loginForm label{
    font-size: 14px;
    color: #ff9900;
}
.loginForm button{
    font-size: 18px;
    background: #ff9900;
    text-transform: uppercase;
    display: block;
    margin: 20px auto;
    border: none;
    outline: none;
    padding: 2% 9%;
    cursor: pointer;
    border:1px solid #ff9900;
}
.loginForm button:hover{
    background: #fff;
   color:#ff9900;
   transition: .5s;
}
.remember{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.remember a{
   vertical-align: middle;
   color:#ff9900;
}

 input[type='email'].errorBorder::before{
    content:'The email you provided does not match any accounts';
    color:red;
    display: block;
border:2px solid red;
}
.loginForm .errorBorder,
.account .errorBorder{
    border:2px solid red;
}