.listBaner {
	height: 44vw;
	background: url(../../images/baner3.jpg);
	background-attachment: fixed;
}

.listMenu {
	box-shadow: 0 0.3px 0px rgba(255, 153, 0, .7);
	color: #707070;
	font-size: 18px;
	text-transform: uppercase;
	
}
.listMenu ul{
	display: flex;
	margin-top: 0;
	height: 4.5vw;
}

.listMenu li{
	flex: 1;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content:  center;
	transition: .5s ease;
}

.listMenu li:hover,
.listMenu li.active{
	background: #FF9900;
	color: #fff;
	position: relative;
}
.listMenu li.active:after,
.listMenu li:hover:after{
	content:'';
	width: 0;
	height: 0;
	border-top: 12px solid #FF9900;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
	bottom: -12px;
}

.source .container{
	display: flex;
	justify-content: space-between;
	height: 6vw;
	align-items: center;
}

.source p{
	font-size: 12px;
	color: #707070;
	text-transform: capitalize;
}
.source span{
	margin:0 5px;
}
/*===================DISH======================*/
.dishList .container{
	display: flex;
}
.dishList .container>div{
	flex-basis: 32%;
	padding: 0 1%;
}
.dishBlock {
	height: 27vw;
	cursor: pointer;
}
.dishBlock:hover .shape{
	transform: scale(1);
	transition: .5s;
}

.dishList h5{
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
	text-align: center;
}
.dishList h5 span {
	font-size: 20px; 
	margin-left: 5px;
	cursor: pointer;
}
.dishList h5 p{
	position: absolute;
	right: 0;
	color:#FF9900;
	top: -15px;
}


.dishList p{
	font-size: 14px;
	color: #707070;
	text-align: center;
}

p.price {
	font-weight: 600;
	color: #FF9900;
	font-size: 18px;
}