.favoriteLayout{
    position: relative;
}

.favoriteLayout:hover div{
   display: block;
}

.favoriteLayout > div{
    position: absolute;
    z-index: 36;
    border: 1px solid #ff9900;
    background: rgba(255,255,255,.7);
    top:30px;
    right: 0;
    width: 9vw;
    padding: 10px;
    display:none;
}